header{
    background-color: lightblue;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
div{
    background-color: lightcoral;
    height: fit-content;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
footer{
    background-color: lightseagreen;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}